{% extends "base.html" %}

{% block title %}
{{page}}
{% endblock title %}

{% block body %}
{% comment %} <div class="container">
  <div class="card mt-4">
    <!-- User Info -->
    <div class="card-header d-flex align-items-center">
      <div>
        <h5 class="mb-1">John Doe</h5>
        <p class="text-muted mb-0">2 hours ago</p>
      </div>
    </div>
    <div class="card-body">
      <!-- Tweet Image -->
      <img src="https://placekitten.com/600/600" alt="Tweet Image" class="img-fluid mb-3" style="min-width: 500px; min-height: 200px;">
      <!-- Tweet Content -->
      <p class="card-text">Just another day with adorable kittens! 🐱 #CuteKitten #AdventureCat</p>
    </div>
  </div>
</div> {% endcomment %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upload Image</h5>
          <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="image">Choose Image</label>
              <input type="file" class="form-control-file" name="image" id="name">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}