{% extends "base.html" %}

{% block title %}
{{page}}
{% endblock title %}




{% block body %}

<div class="container-fluid p-4">
  <div class="row">
    <!-- Tweet Box Section -->
    <div class="col-lg-12" style="max-height: 600px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
      {% if user_tweets %}
        {% for element in user_tweets %}
          {% include "includes/tweet.html" with element=element %}
        {% endfor %}
      {% endif %}
    </div>
    <!-- End Tweet Box Section -->
  </div>
</div>


{% endblock body %}