{% extends "base.html" %}

{% block title %}
{{page}}
{% endblock title %}




{% block body %}

<div class="container-fluid p-4">
  <div class="row">
    <div class="col-lg-3 border border-white border-top-0 border-bottom-0 rounded-0">
      <!-- Active Users Section -->
      <h3>Active Users</h3>
      <!-- Place your active users content here -->
    </div>
    
    <!-- Tweet Box Section -->
    <div class="col-lg-6" style="max-height: 600px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
      {% if data %}
        {% for element in data %}
          {% include "includes/tweet.html" with element=element %}
        {% endfor %}
      {% endif %}
    </div>
    <!-- End Tweet Box Section -->

    <div class="col-lg-3 border border-white border-top-0 border-bottom-0 rounded-0">
      <!-- Chat Section -->
      <h3>Chat</h3>
      <!-- Place your chat content here -->
    </div>
  </div>
</div>

{% endblock body %}
