{% extends "base.html" %}

{% block title %}
{{page}}
{% endblock title %}





{% block body %}
<div class="container mt-4">
    <div class="row">
      <div class="col-md-4">
        
        <!-- Username -->
        <h3>{{profile_user}}</h3>
        
        
        <!-- Message Button -->
        <button class="btn btn-outline-primary">Message</button>
      </div>
      <div class="col-md-8">
        <!-- Posts -->
        <h4>Tweets</h4>
        
        
    <div class="col-lg-9" style="max-height: 600px; overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none;">
      {% if user_tweets %}
        {% for element in user_tweets %}
          {% include "includes/tweet.html" with element=element %}
        {% endfor %}
      {% endif %}
    </div>
        </div>
        <!-- Add more posts here -->
      </div>
    </div>
  

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock body %}
